{% extends 'admin_template/base_template.html' %}

{% block page_title %}
{{ post.title }} 
<small style=" padding-left: 4px;"> |By:  {{ post.author.last_name }} </small>

{% endblock page_title %}

{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block main_content %}

{% load static %}


<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <div class="alert alert-danger">
                        Do you want to delete post?
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <a class="btn btn-secondary btn-sm" href="{% url 'post_detail' post.id %}">Cancel</a>
                        <input class="btn btn-success btn-sm" type="submit" value="Confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>      









{% endblock main_content %}

